.triangle-topright {
    width: 0 !important;
    height: 0 !important;
    border-top: 8px solid red;
    border-left: 8px solid transparent;
    pointer-events: visible !important;
    cursor: pointer;
}

.popover {
    width: 200px;
    font-size: 10px;
}
