body {
    background-color: #ddd;
    font-family: "Tequila Sunset";
}

h3 {
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.table-page {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    color: black;
    background-color: black;
    display: block;
    border-style: solid;
    border-color: wheat;
    border-width: 1px;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    white-space: normal;
    line-height: normal;
    width: 100%;
}

.table-sub {
    margin-left: 5px;
    margin-right: 5px;
}

.div-border-bottom {
    background-color: white;
    height: 5px;
    margin-bottom: 10px;
}

.table-content {
    color: black;
    display: block;
    white-space: normal;
    line-height: normal;
    margin-left: 2px;
}

.table-inner-left {
    margin-right: 15px;
}

.table-inner-right {
    margin-right: 0;
}

th {
    padding-bottom: 10px;
    padding-top: 10px;
}

td {
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 8px;
}

td, th {
    display: table-cell;
    padding-left: 5px;
}

.td-area {
    /*border-left-color: #000;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #000;
    border-right-width: 1px;
    border-right-style: solid;*/
    border-bottom-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /*border-top-color: #000;
    border-top-width: 1px;
    border-top-style: solid;*/
}

.table-head {
    background-color: #fff;
    text-align: center;
}

.table-sub-row {
    background-color: #66CCFF;
    text-align: left;
}

.table-row {
    background-color: #fff;
    text-align: left;
    /*line-height: 0px;*/
    border-style: solid;
    border-color: wheat;
    border-width: 1px;
    border-radius: 5px;
}

.image_div_background {
    background-image: url('http://localhost:58045/images/violin-clip-art-violin-clip-art-1.jpg');
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
}

.div_font_class {
    font-weight: bold;
    font-family: "Tequila Sunset";
    font-size: 20px;
    color: #003300;
}

.td-width {
    vertical-align: top;
    padding-left: 3px;
    width: 340px;
}

.odd {
    width: 130px;
    height: 10px;
    font-size: 8px;
}

.even {
    width: 300px;
    height: 10px;
    font-size: 8px;
}

.text-center {
    text-align: center;
}

.text-color-red {
    color: red;
    font-weight: bold;
}

.bg-blue {
    background-color: #99CCFF;
}

.bg-yellow {
    background-color: #FFFF99;
}

.bg-brown {
    background-color: #FABF8F;
}

.bg-purple {
    background-color: #CC99FF;
}

.bg-answer {
    background-color: #DCE6F1;
}
