<style>
    #footer-container {
        margin-left: 0;
        margin-right: 0;
        float: left;
        width: 100%;
        height: 280px;
        /*background: url(/Content/images/lt-divider.png) 0 0 repeat-x;*/
        background: #1d1d1d;
        margin: 60px 0 0 0;
    }

    #footer-inner {
        width: 960px;
        height: 180px;
        margin: 0 auto;
        /*border-bottom: 4px solid #554d47;*/
    }

    /*#copyright {
        float: left;
        padding-top: 140px;
    }*/

    #social {
        float: right;
        padding-top: 118px;
    }

        #social ul {
            float: right;
            list-style: none;
            margin: 0;
        }

            #social ul li {
                float: left;
                margin-left: 15px;
                width: 40px;
                height: 80px;
            }

    .mail {
        color: #fff;
        border: 0 none;
    }
</style>
<div id="footer-container">
    <div id="footer-inner">
        <br />
        <div class="row">
            <div class="col-lg-5">
                <div class="form-horizontal">
                    <div class="form-group">
                        <p style="color:#b5a0ca;">Email us</p>
                    </div>
                    <div class="form-group">
                        <a class="mail" href="mailto:john lemuel.sevilleno@atmel.com?subject=EBROnline">john lemuel.sevilleno@atmel.com</a>
                        <br />
                        <a class="mail" href="mailto:mark.Ledesma@atmel.com?subject=EBROnline">mark.Ledesma@atmel.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-horizontal">
                    <div class="form-group"><p style="color:#b5a0ca;">Find us</p></div>
                    <div class="form-group"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-bottom: 20px;">
            <div class="form-horizontal">
                <div class="form-group">
                    <a href="/" class="col-lg-2 col-md-3">
                        <img src="~/Content/images/logo.png" />
                    </a>
                    <p class="col-lg-10 col-md-9" style=" color:#fff; border: 0 none;">
                        <br />
                        <br />
                        &copy; @DateTime.Now.Year - EBROnline Failure Analysis Status Tracking Database. Atmel Semiconductor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
