@model string
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    <h2>@Model</h2>
    <input type="button" class="btn btn-link" id="lnkCreateNew" value="Create New" />

    @{Html.RenderPartial("_PartialPageAlert");}

    @Html.Action("List")

    <div class="modal fade in" id="modalCreateNew">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    @{Html.RenderPartial("_PartialPageMSTCreate", new EBROnline.ViewModel.MSTViewModel());}
                </div>
                @*<div class="modal-footer"></div>*@
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modalEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" id="modalEditBody">

                </div>
                @*<div class="modal-footer"></div>*@
            </div>
        </div>
    </div>

</div>

@{Html.RenderPartial("_PartialPageLoading");}