@*BEGIN ADD REQUEST*@
<div class="alert alert-success" role="alert" id="success-alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success! </strong>
    Record have added to successfully.
</div>

<div class="alert alert-danger" role="alert" id="danger-alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Failure!</strong>
    Record haven't added to failure.
</div>
@*END ADD REQUEST*@

@*BEGIN ALERT EDIT*@
<div class="alert alert-success" role="alert" id="success-alert-edit" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success! </strong>
    Record have edited to successfully.
</div>

<div class="alert alert-danger" role="alert" id="danger-alert-edit" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Failure!</strong>
    Record haven't edited to failure.
</div>
@*END ALERT EDIT*@