@model EBROnline.ViewModel.MSTViewModel
@{
    AjaxOptions ajaxOption = new AjaxOptions
   {
       Url = Url.Action("Create"),
       HttpMethod = "POST",
       OnBegin = "onAddMSTBegin",
       OnComplete = "onAddMSTComplete",
       OnSuccess = "onAddMSTSuccess",
       OnFailure = "onAddMSTFailure",
   };
}
@using (Ajax.BeginForm(ajaxOption))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Name<span class="required">*</span> </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @id = "txtName" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">  Description </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control", @id = "txtDescription" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Create" class="btn btn-primary btn-width-md" name="btnSubmit" id="btnSubmit" />
                <button type="button" class="btn btn-default btn-width-md" name="btnCancel" id="btnCancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}