tbody tr:hover {
    background-color: #f3f0b6;
}

.header {
    background-color: #CC9999;
    color: white;
}

    .header > tr:hover {
        background-color: #CC9999;
        color: white;
    }

.pagination-container {
    height: 30px;
}

.pagination {
    height: 28px !important;
    margin-top: -1px !important;
}

td.link-action {
    text-align: center;
    white-space: nowrap;
    width: 120px;
}

.bg-blue {
    background-color: #99CCFF;
}

    .bg-blue:focus {
        background-color: #FFF;
    }

.bg-yellow {
    background-color: #FFFF99;
}

    .bg-yellow:focus {
        background-color: #FFF;
    }

.bg-brown {
    background-color: #FABF8F;
}

    .bg-brown:focus {
        background-color: #FFF;
    }

.bg-purple {
    background-color: #CC99FF;
}

    .bg-purple:focus {
        background-color: #FFF;
    }

    .bg-blue:hover, .bg-yellow:hover, .bg-brown:hover, .bg-purple:hover {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        /*margin: 1px 1px 3px 0;*/
        border: 1px solid rgba(81, 203, 238, 1);
    }

.btn-min {
    padding: 0 6px;
}
