<p class="bg-blue" style="max-width:150px;">Requestor/PE</p>
<p class="bg-yellow" style="max-width:150px;">Assembly/Enginnering</p>
<p class="bg-purple" style="max-width:150px;">Planing</p>
<p class="bg-brown" style="max-width:150px;">Field used in File Name</p>