@model EBROnline.Infractructure.FilterPage

@{
    ViewBag.Title = "EBR Dashboard";
    AjaxOptions ajaxOption = new AjaxOptions
        {
            UpdateTargetId = "tableAdmin",
            Url = Url.Action("EBROfAdmin"),
            HttpMethod = "GET",
        };
}
<h2>EBR Dashboard</h2>

<link href="~/Content/theme.default.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br />

<div id="tableAdmin" class="table-responsive">
    @Html.Action("EBROfAdmin", routeValues: new { age = Model.Page })
</div>

@{Html.RenderPartial("_PartialPageLoading");}