@model EBROnline.Infractructure.FilterPage

@{
    ViewBag.Title = "EBR Dashboard";
    AjaxOptions ajaxOption = new AjaxOptions
        {
            UpdateTargetId = "tableOfUser",
            Url = Url.Action("EBROfUser"),
            HttpMethod = "GET",
        };
}
<h2>EBR Dashboard</h2>

<link href="~/Content/theme.default.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="pull-left">
    @Html.ActionLink("Create New Request", "NewRequest")
</div>
<br />

<div id="tableOfUser" class="table-responsive">
    @{Html.RenderAction("EBROfUser", routeValues: new { age = Model.Page });}
</div>

@{Html.RenderPartial("_PartialPageLoading");}